{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@config": "./config",
          "@db": "./db",
          "@graphql": "./graphql"
        }
      }
    ]
  ]
}
